<!DOCTYPE html>
<html lang="ja">
<head>
  <title>{t}Shared network{/t}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <script src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
   {include file='./functions/br.tmpl' scope="root"}
   {include file='./configs/menu.tmpl' scope="root"}
   {include file='./configs/breadcrumb.tmpl' scope="root"}
   {include file='./functions/menumaker.tmpl' scope="root"}
   {include file='./functions/breadmaker.tmpl' scope="root"}
</head>

<body>
<header class="">
    <nav class="navbar navbar-default navbar-default-extend">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#patern07">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">KeaKeeper</div>
      </div>

      <div id="patern07" class="collapse navbar-collapse">
        {call menumaker list=$global id="dhcpv4" mode="ul" class="nav navbar-nav navbar-right"}
      </div>
    </nav>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2">
      <div class="panel panel-default">
        {call menumaker list=$side_noexpand4 id="sharednetwork" mode="ul" class="nav nav-pills nav-stacked abc"}
      </div>
    </nav>

    <!-- 右グリッド  -->
    <div class="col-sm-10">
      <nav class="">
        {call breadmaker list=$add_shared4 id="addshared"}
      </nav>

      <div class="panel panel-default">
        <!-- メインコンテンツ -->
        <div class="container-fluid panel-body">
          <div class="row">
            <!-- エラーメッセージ -->
            <div class="ErrorMessage">
              {$e_msg}{call br var=$e_msg}
              {$e_sharednetwork}{call br var=$e_sharednetwork}
              {$success}
            </div>

        <!-- 追加フォーム  -->
        <div class="col-sm-12">
          <form class="form-horizontal" action="addshared4.php" method="post">
            <div class="form-group">
              <label class="col-sm-2 control-label text-nowrap" for="Shared-netw ork">{t}Shared network{/t}</label>
              <div class="col-sm-4">
                {if isset($pre.sharednetwork)}
                <input type="text" class="form-control" id="Shared-network" name ="sharednetwork" placeholder="Shared-network" value="{$pre.sharednetwork}">
                {else}
                <input type="text" class="form-control" id="Shared-network" name ="sharednetwork" placeholder="Shared-network">
                {/if}
              </div>
            </div>


            <!-- 追加ボタン -->
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" name="add">{t}Add{/t}</button>
              </div>
            </div>
          </form>
        </div>
        </div>

        <hr style="margin:0px;">

        <br>

        <!-- 一覧結果 -->
        {if $result gt 0}
          <div class="row">
            <div class="col-sm-10">
              <table class="table table-striped table-bordered responsive">
                <thead class="thead-default thead-default-extend">
                  <tr>
                    <th>
                      {t}Shared network{/t}
                    </th>
                    <th>
                      {* Edit button *}
                    </th>
                  </tr>
                </thead>
                   
                <tbody>
                  {foreach from=$item item=info}
                    <tr>
                      <td data-title="Sharedname">
                        {$info.name}
                      </td>
                      <td data-title="Edit button">
                        <button type="button" onClick="location.href='editshared4.php?shared_name={$info.name|escape:"url"}'">{t}Edit{/t}</button>
                      </td>
                   </tr>
                  {/foreach}
                </tbody>
              </table>
            </div>
            </div>
          {/if}
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer  navbar navbar-default navbar-default-extend">
    <nav class="pull-right">
      <a href="https://www.designet.co.jp/" class="navbar-brand">Contributed by DesigNET</a>
    </nav>
</footer>

</body>
</html>
