{$title = "Password"}
<!DOCTYPE html>
<html lang="ja">
<head>
<title>{t}{$title}{/t}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/jquery-3.1.1.min.js"></script>
   {include file='./functions/br.tmpl' scope="root"}
   {include file='./configs/menu.tmpl' scope="root"}
   {include file='./configs/breadcrumb.tmpl' scope="root"}
   {include file='./functions/menumaker.tmpl' scope="root"}
   {include file='./functions/breadmaker.tmpl' scope="root"}
</head>

<body>
<header class="">
    <nav class="navbar navbar-default navbar-default-extend">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#patern07">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">KeaKeeper</div>
      </div>

      <div id="patern07" class="collapse navbar-collapse">
        {call menumaker list=$global id="password" mode="ul" class="nav navbar-nav navbar-right"}
      </div>
    </nav>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2">
      <div class="panel panel-default">
        {call menumaker list=$user id=$title mode="ul" class="nav nav-pills nav-stacked abc"}
      </div>
    </nav>

    <!-- 右グリッド  -->
    <div class="col-sm-10">
      <nav class="">
        {call breadmaker list=$bread_user id=$title}
      </nav>

      <div class="panel panel-default">
        <!-- メインコンテンツ -->
        <div class="container-fluid panel-body">
          <div class="row">
            <!-- エラーメッセージ -->
            <div class="ErrorMessage">
              {$e_passwd}{call br var=$e_passwd}
              {$e_confirm}{call br var=$e_confirm}
              {$success}{call br var=$success}
            </div>

            <!-- ォーム -->
              <div class="col-sm-12">
                <form class="form-horizontal" action="password.php" method="post">
                  <div class="form-group">
                    <label class="col-sm-2 control-label text-nowrap" for="IPaddr">{t}Password{/t}</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="passwd" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label text-nowrap" for="IPaddr">{t}Confirm{/t}</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="confirm" autocomplete="off">
                    </div>
                  </div>

                  <!-- 更新ボタン -->
                  <div class="form-group">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                      <button type="submit" name="apply">{t}change{/t}</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer  navbar navbar-default navbar-default-extend">
    <nav class="pull-right">
      <a href="https://www.designet.co.jp/" class="navbar-brand">Contributed by DesigNET</a>
    </nav>
</footer>

</body>

</html>


