<!DOCTYPE html>
<html lang="ja">
<head>
  <title>{t}Subnet{/t}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <script src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
   {include file='./functions/br.tmpl' scope="root"}
   {include file='./configs/menu.tmpl' scope="root"}
   {include file='./configs/breadcrumb.tmpl' scope="root"}
   {include file='./functions/menumaker.tmpl' scope="root"}
   {include file='./functions/breadmaker.tmpl' scope="root"}
</head>

<body>
<header class="">
    <nav class="navbar navbar-default navbar-default-extend">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#patern07">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">KeaKeeper</div>
      </div>

      <div id="patern07" class="collapse navbar-collapse">
        {call menumaker list=$global id="dhcpv4" mode="ul" class="nav navbar-nav navbar-right"}
      </div>
    </nav>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2">
      <div class="panel panel-default">
        {call menumaker list=$side_noexpand4 id="searchsubnet" mode="ul" class="nav nav-pills nav-stacked abc"}
      </div>
    </nav>

    <!-- 右グリッド  -->
    <div class="col-sm-10">
      <nav class="">
        {call breadmaker list=$search_subnet4 id="searchsubnet"}
      </nav>

      <div class="panel panel-default">
        <!-- メインコンテンツ -->
        <div class="container-fluid panel-body">
          <div class="row">
            <!-- エラーメッセージ -->
            <div class="ErrorMessage">
              {$e_msg}{call br var=$e_msg}
              {$e_subnet}{call br var=$e_subnet}
              {$no_result}
              {$success}
              {$e_subnet_del}
            </div>

            <!-- 説明文 -->
            <div class="col-sm-6 col-md-push-6">
              <div class="table-bordered"> 
                <ul>
                  <li>{t}Search subnet with forward match.{/t}</li>
                </ul>
              </div>
            </div>


            <!-- 検索フォーム -->
              <div class="col-sm-6 col-md-pull-6">
                <form class="form-horizontal" action="searchsubnet4.php" method="get">
                  <div class="form-group">
                    <label class="col-sm-3 control-label text-nowrap" for="Subnet">{t}Subnet{/t}</label>
                    <div class="col-sm-9">
                      {if isset($pre.subnet)}
                        <input type="text" class="form-control" id="Subnet" name="subnet" placeholder="Subnet" value="{$pre.subnet}">
                      {else}
                        <input type="text" class="form-control" id="Subnet" name="subnet" placeholder="Subnet">
                      {/if}
                    </div>
                  </div>
                
  
                  <!-- 検索ボタン -->
                  <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                      <button type="submit" name="search">{t}Search{/t}</button>
                      <button onclick='location.href = "addsubnet4.php";' type="button" name="search">{t}Add{/t}</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>

          <hr style="margin:0px;">

          <!-- 検索件数 -->
          {if isset($item)}
            <div class="row">
              <div class="col-sm-12">
                <p>{t}Result{/t}: {$result|default:'0'}</p>
              </div>
            </div>
          {/if}

          <!-- 検索結果 -->
          {if $result gt 0}
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered responsive">
                  <thead class="thead-default thead-default-extend">
                    <tr>
                      <th>
                        {t}Delete{/t}
                      </th>
                      <th>
                        ID
                      </th>
                      <th>
                        {t}Subnet{/t}
                      </th>
                      <th>
                        {t}Pool IP addresses{/t}
                      </th>
                      <th>
                        {* Edit button *}
                      </th>
                    </tr>
                  </thead>
                     
                  <tbody>
                    {foreach from=$item item=info}
                      <tr>
                          <td data-title="delete">
                            <p><a href="searchsubnet4.php?subnet={$subnet|escape:"url"}&search=Search&delete={$info.subnet|escape:"url"}" onClick="javascript:return confirm('{t}Are you sure you want to delete this subnet?{/t}')"><span class="glyphicon glyphicon-trash"></span></i></a></p>
                          </td>
                        <td data-title="ID">
                          {if $info.id ne ''}
                          {$info.id}
                          {else}
                          <i class="fa fa-times" aria-hidden="true"></i>
                          {/if}
                        </td>
                        <td data-title="Subnet">
                          {$info.subnet}
                        </td>
                        <td data-title="Pool IP addresses">
                          {foreach from=$info.pools item=tmp}
                            {foreach from=$tmp item=pool}
                              {$pool}<br>
                            {/foreach}
                          {/foreach}
                        </td>
                        <td data-title="Edit button">
                          {if $info.id ne ''}
                            <button type="button" onClick="location.href='searchhost4.php?subnet_id={$info.id|escape:"url"}&subnet={$info.subnet|escape:"url"}'">{t}Edit host{/t}</button>
                          {else}
                            <button type="button" onClick="location.href='searchhost4.php?subnet_id={$info.id|escape:"url"}&subnet={$info.subnet|escape:"url"}'" disabled=disabled>{t}Edit host{/t}</button>
                          {/if}
                          <button type="button" onClick="location.href='listrange4.php?subnet={$info.subnet|escape:"url"}'">{t}Edit range{/t}</button>
                          <button type="button" onClick="location.href='editsubnet4.php?subnet={$info.subnet|escape:"url"}'">{t}Edit option{/t}</button>
                        </td>
                     </tr>
                    {/foreach}
                  </tbody>
                </table>
              </div>
            </div>
          {/if}
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer  navbar navbar-default navbar-default-extend">
    <nav class="pull-right">
      <a href="https://www.designet.co.jp/" class="navbar-brand">Contributed by DesigNET</a>
    </nav>
</footer>

</body>
</html>
